@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
object,embed{vertical-align:top;}
legend{display:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
img,abbr,acronym,fieldset{border:0;}

/*
body {
	font: 14px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #000;
	background: #DFE4EC;
}
*/

html,body {
	font: 14px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
	font-weight: 300;
	height:100%;
	width:100%;
	margin-left : auto;
	margin-right : auto;
	text-align : center;
	background-color : #EFEFEF;
}




/* 最初のろご
------------------------------------------------------------*/
#mainImg {
	display: block;
	width: auto;
	height: 30%;
	margin: 0 auto;
	margin-bottom: 2%;
}


/* 共通
------------------------------------------------------------*/
canvas {
	display: block;
	margin: 0 auto;
}


/* indexそれぞれへのボタン
------------------------------------------------------------*/

aside {
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


.footer_con_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_con_btn_report, .footer_con_btn .footer_con_btn_sibakari {
    width: 65%;
	height: 18%;
	margin: 0 auto;
	margin-bottom: 5%;
}

.footer_con_btn_report a, .footer_con_btn .footer_con_btn_sibakari a {
    height: 200px;
    color: #FFF;
    font-size: 18px;
    letter-spacing: 2px;
    text-indent: 2px;
	align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
	text-decoration: none;
    display: flex;
	font-size: 180%;
	transition: .3s;
}


.footer_con_btn_report a {
    background: #6fc1c9;
}

.footer_con_btn_report a:hover {
    background: #56a0a7;
}

.footer_con_btn_sibakari a {
    background: #8BF29A;
}

.footer_con_btn_sibakari a:hover {
    background: #65bb72;
}
 
/* ゲーム画面の設定
------------------------------------------------------------*/

#wrapper {
    position: relative;
	margin: 0 auto;
    width: 45%;
	background-color: #65bb72;
}

#wrapper:before {
    content:"";
    display: block;
    padding-top: 75%; /* 高さを幅の75%に固定 */
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* RESPONSIVE 設定
------------------------------------------------------------*/
@media only screen and (max-width: 1299px){

	#wrapper {
		width: 55%;
	}
	
}


@media only screen and (max-width: 799px){
	#wrapper {
		width: 75%;
	}

	#mainImg{
		height: 25%;
		width: auto;
	}
	
}