@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
object,embed{vertical-align:top;}
legend{display:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
img,abbr,acronym,fieldset{border:0;}

/*
body {
	font: 14px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #000;
	background: #DFE4EC;
}
*/

@font-face {
	font-family: 'MyFont';
	src: url('../font/851MkPOP_100.ttf');
}

html,body {
	font-family:'MyFont';
	font-weight: 300;
	height:100%;
	width:100%;
	margin-left : auto;
	margin-right : auto;
	text-align : center;
	background-color : #EFEFEF;
}

p {
	font-size: 1.6em;
	line-height: 1.3em;
	display: block;
}

h2 {
	font-size: 2em;
	display: block;
	margin-top: 45px;
}


/* 最初のろご
------------------------------------------------------------*/
#mainImg {
	display: block;
	width: auto;
	height: 30%;
	margin: 0 auto;
	margin-bottom: 2%;
}


/* 共通
------------------------------------------------------------*/
canvas {
	display: block;
	margin: 0 auto;
}

#back {
	margin: 0 auto;
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 30px;
	width: 95%;
	height: auto;
	background-image: linear-gradient(0deg, transparent 31px, #cac9c9 32px),linear-gradient(90deg,  transparent 31px, #cac9c9 32px);
  	background-color: #fdf8f3;
  	background-size: 32px 32px;
}



/* 概要(id=abst)
------------------------------------------------------------*/
#abst {
	display: block;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 30px;
	width: 800px;
	padding: 30px 30px 30px 30px;
	position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    color: #454545;
	text-align: left;
}

#abst:after {
	position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #efefef #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.fire {
	color: red;
	font-size: 1.6em;
	line-height: 2em;
	font-weight: bold;
}

b {
	font-size: 1.4em;
}

/* ルール説明(id=rule)
------------------------------------------------------------*/
#rule {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	width: 800px;
	padding: 30px 30px 30px 30px;
	background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#fde2f5 3px, #fde2f5 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#fde2f5 3px, #fde2f5 7px);
	text-align: left;
}

.pict {
	display: block;
	width: 750px;
	height: auto;
	margin:0 auto;
	margin-top: 20px;
}
 
/* ゲーム画面の設定
------------------------------------------------------------*/
iframe {
	margin: 0 auto;
	width: 800px;
	height: 600px;
}

/* RESPONSIVE 設定
------------------------------------------------------------*/
@media only screen and (max-width: 1299px){

	#wrapper {
		width: 55%;
	}
	
}


@media only screen and (max-width: 799px){
	#wrapper {
		width: 75%;
	}

	#mainImg{
		height: 25%;
		width: auto;
	}
	
}